{% extends 'Home.html' %}
{% block content %}

    
        <h1 class="text-center ">All Catogery</h1>
        <div class="row">
            {% for i in subCatogery_key %}
            <div class="col-md-4">
                <div class="m-4">
                    <img src="{{ i.sub_Catogery_img.url }}" style="height: 200px; width:100% ;" />
                        <a href="{% url 'Product' i.id %}">
                            <h1 class="text-center">{{i.sub_Catogery_name}}</h1>    
                        </a>
                        </div>
                    </div>
            {% endfor %}
        </div>
{% endblock %}